<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{country.country_name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia, Aruba,Australia, Austria,Azerbaijan">
    <meta name="keywords" content="Bangladesh,Barbados,Belarus,Belgium, Belize, Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burma,Burundi">
    <meta name="keywords" content="Cambodia,Cameroon,Canada,Cabo Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo, Democratic Republic of the,Congo, Republic of the,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Curacao, Cyprus,Czechia,">
    <meta name="keywords" content="Denmark,Djibouti,Dominica,Dominican Republic">
    <meta name="keywords" content="Ecuador,Egypt,El Salvador,Equatorial Guinea,Eritrea,Estonia,Eswatini,Ethiopia">
    <meta name="keywords" content=" Fiji,Finland,France">
    <meta name="keywords" content="Gabon,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana">
    <meta name="keywords" content="Haiti,Holy See,Honduras,Hong Kong,Hungary">
    <meta name="keywords" content="Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy">
    <meta name="keywords" content="Jamaica,Japan,Jordan">
    <meta name="keywords" content="Kazakhstan,Kenya,Kiribati,Korea, North,Korea, South,Kosovo,Kuwait,Kyrgyzstan">
    <meta name="keywords" content=" Laos, Latvia, Lebanon, Lesotho, Liberia, Libya, Liechtenstein, Lithuania, Luxembourg">
    <meta name="keywords" content="  Macau,Macedonia,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mauritius,Mexico,Micronesia,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique">
    <meta name="keywords" content="Namibia,Nauru,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Korea,Norway">
    <meta name="keywords" content=" Pakistan, Palau, Palestinian Territories, Panama, Papua New Guinea, Paraguay, Peru, Philippines, Poland, Portugal">
    <meta name="keywords" content="Qatar,Romania,Russia,Rwanda">
    <meta name="keywords" content=" Saint Kitts and Nevis, Saint Lucia, Saint Vincent and the Grenadines, Samoa, San Marino, Sao Tome and Principe, Saudi Arabia, Senegal, Serbia, Seychelles">
    <meta name="keywords" content="Sierra Leone,Singapore,Sint Maarten,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Swaziland,Sweden,Switzerland,Syria">
    <meta name="keywords" content="Taiwan,Tajikistan,Tanzania,Thailand,Timor-Leste,Togo,Tonga,Trinidad and Tobago,Tunisia,Turkey,Turkmenistan,Tuvalu">
    <meta name="keywords" content="Uganda,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam">
    <meta name="description" content="FindMobiNet provides you information about mobile networks from different countries. Connect your country and get info... ">
    

    <link rel="stylesheet" type="text/css"  href="/static/css/design.css" />
    <link href="http://allfont.net/allfont.css?fonts=orbitron-black" rel="stylesheet" type="text/css" />
    

</head>
<body>
        <div class="container-scifi">
                <h5>which operator would you like to connect ...</h5>
        </div>
                
                <div class="container-scifi"></div>
        
    <div class="background">
        <div class="container-country">
                {% for oper in country.operators.all %}
                <a href="/network/operator/{{oper.slug}}/" class="button" style="text-decoration: none;">{{oper.operator_name}}</a>
                {% endfor %}
              </div>
            </div>  
  




        <script src="/static/js/scifi.js"></script>


</body>
</html>